<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
        <%- include("../partials/nav.ejs", { loggedIn, cartCount} ) %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/account.css" />
    </head>

    <body>
        <div class="mainContainer">
            <h1>Account Information for <%= currentUser %> </h1>
            <hr>
            <p>info here</p>

            <br><br>
            <h1>Purchase History</h1>
            <hr>
            
            <% for (let i = 0; i < orders.length; i++) { %>
                <h3><%= orders[i].date %> - Total: $<%= orders[i].total_price %></h3>
                <div class="historyProduct">
                    <div class="historyHeader">Product</div>
                    <% for (let j = 0; j < orders[i].items.length; j++) { %>
                        <div class="historyItem"><%= orders[i].items[j].name %></div>
                    <% } %>
                </div>
                <div class="historyQuantity">
                    <div class="historyHeader">Quantity</div>
                    <% for (let j = 0; j < orders[i].items.length; j++) { %>
                        <div class="historyItem"><%= orders[i].items[j].quantity %></div>
                    <% } %>
                </div>
                <br clear="all" />
                <hr>
            <% } %>

        </div>
    </body>

</html>