<html>
    <head>
        <% include ../partials/header.ejs %>
        <%- include("../partials/nav.ejs", { loggedIn, cartCount} ) %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/cart.css" />
        <script src="/scripts/cart.js"></script>
    </head>

    <body>
      <div class="mainContainer">
        <div class="cartContainer">
          <h1>Shopping Cart</h1>
          <hr>

          <% for (let i = 0; i < cart.length; i++) { %>
            <div>
                <div style="display:inline-block; width:15%; padding: 0;">
                    <img style="max-width: 100%;  margin: 0; padding: 0 20px 0 20px;" src=<%= "..\\" + cart[i].image_path %>>
                </div><div style="display:inline-block; width:65%; vertical-align: top; position: relative; top: -20px;">
                        <h3 class="name"><%= cart[i].name %></h3>
                        <label for="quantity">Quantity:&nbsp;</label><input type="number" name="quantity" class="quantity" onkeyup="ShowButton(this);" onchange="ShowButton(this);" min="1" value=<%= cart[i].quantity %>><input type="number" class="quantityInitial" hidden value=<%= cart[i].quantity %>>
                        <button class="update-cart" onclick="UpdateCart(this);">
                            <span class="glyphicon glyphicon-refresh"></span>
                            Update
                        </button>
                        
                </div><div style="float:right; width:20%; text-align: right; position: relative; top: -20px;">
                    <h3 class="price">$<%= cart[i].price %></h3>
                    <button class="remove-cart" id="<%= cart[i].id %>" onclick="RemoveItem(this);">
                        <span class="glyphicon glyphicon-remove"></span>
                        Remove
                    </button>
                </div>
            </div>
            <hr>
          <% } %>
        </div>

        <div class="checkoutContainer">
          <h1>Checkout</h1>
          <hr>
          <div class="checkoutBox">
            <h4>Subtotal (<%= cartCount %> items): $<%= totalPrice %></h4>
            <br>
            <a href="/checkout">
                Proceed to checkout
                <span class="glyphicon glyphicon-ok"></span>
            </a>
          </div>
        </div>

      </div>

    </body>

</html>