<html>
    <head>
        <% include ../partials/header.ejs %>
        <%- include("../partials/nav.ejs", {loggedin: false}) %> 
    </head>

    <body>
        <div>
            <% if (products.length == 0) { %>
                <p>No products found</p>
            <% } %>

            <% for (let i = 0; i < products.length; i++) { %>

                <div style="width:90%; margin:0 auto; padding: 10px 10px;">

                    <div style="display:inline-block; width:15%; padding: 0">
                        <img style="max-width: 100%;  margin: 0; padding: 0" src=<%=products[i].image_path %>>
                    </div><div style="display:inline-block; width:65%; vertical-align: top">
                            <div><h3><%= products[i].name %></h3></div>
                            <div style="display:inline-block;"><%= products[i].description %></div>
                    </div><div style="float:right; width:20%; text-align: right;">
                        <h3>$<%= products[i].price %></h3>
                        <img height="7%" src="/interface images/buy4.jpg">
                    </div>

                </div>
                <hr>
            <% } %>

        </div>
    </body>

</html>